<h1>New Bookmark</h1>

<%= simple_form_for [@list, @bookmark] do |f| %>
  <!-- Your form fields go here -->
  <div class="form-inputs">
    <%= f.input :comment %>
  </div>
  <%= f.association :movie %>
  <div class="form-inputs">
    <%= f.submit %>
  </div>
<% end %>

<br>

<div>
  <%= link_to "Back to list", @list %>
</div>
